{% extends 'base.html.twig' %}

{% block content %}
  <section>

    <div class="container mt-5">


        <div class="row mt-5 mb-3">
            <div class="col-12 text-center my-5 h3 text-center text-uppercase">
                Tous les articles
            </div>
        </div>

        <div class="row mt-2">
         {% for article in articles  %}
            <div class="col-md-4">
                 <div class="card shadow mt-3 border-0">
                    <div class="card-header text-uppercase bg-dark text-light">
                        {{article.title| length > 100 ? article.title | slice(0,100) ~ '...' :article.title }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{article.subtitle| length > 100 ? article.subtitle | slice(0,100) ~ '...' :article.subtitle }}</h5>
                        <p class="card-text">{{article.content| length > 250 ? article.content | slice(0,250) ~ '...' :article.content }}</p>
                        <a href="#" class="btn btn-primary btn-dark">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        </div>

    </div>
  </section>
   
{% endblock %}