<footer class="mt-4 pt-4" style="background-color:#CD5C5C">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md  border-bottom mb-5">
                <h2 class="text-light text-uppercase">Actunews</h2>
            </div>
            <div class="col-6 col-md ">
                {# <h5 class"">Catégories</h5> #}
                <div class="row">
                    <div class="col-md-6">
                         <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">Politique</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Economie</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Social</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                         <ul class="list-unstyled">
                            <li><a href="#" class="text-light text-decoration-none">Santé</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Culture</a></li>
                            <li><a href="#" class="text-light text-decoration-none">Sports</a></li>
                        </ul>
                    </div>
                </div>
               
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Mentions légales</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Politique de confidentialité</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Plan du site</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">&copy; Actunews 2021</p>
            </div>
        </div>
    </div>
</footer>